<nav class="nav-container">
  {{#link-to 'notes' class='navLinks'}}
    Notes
  {{/link-to}}
  {{#link-to 'beans' class='navLinks'}}
    Beans
  {{/link-to}}
  {{#link-to 'home'}}
    <div class="logo">
    </div>
  {{/link-to}}
  {{#link-to 'roasters' class='navLinks'}}
    Roasters
  {{/link-to}}
  {{#link-to 'locations' class='navLinks'}}
    Locations
  {{/link-to}}
</nav>
