<nav class="nav-container">
  <div class="1">
    {{#link-to 'notes' class='navLinks'}}
      Notes
    {{/link-to}}
  </div>
  <div class="2">
    {{#link-to 'coffee' class='navLinks'}}
      Coffee
    {{/link-to}}
  </div>
  <div class="logo">
  </div>
  <div class="3">
    <a href="#" class="navLinks">Portfolio</a>
  </div>
  <div class="4">
    <a href="#" class="navLinks">Contact Me</a>
  </div>
</nav>
