<nav class="nav-container">
  {{#link-to 'notes' class='navLinks'}}
    Notes
  {{/link-to}}
  {{#link-to 'beans' class='navLinks'}}
    Beans
  {{/link-to}}
  <div class="logo">
  </div>
  <a href="#" class="navLinks">Blends</a>
  <a href="#" class="navLinks">Locations</a>
</nav>
