<nav class="nav-container">
  {{#link-to 'notes' class='navLinks'}}
    Notes
  {{/link-to}}
  {{#link-to 'bean' class='navLinks'}}
    bean
  {{/link-to}}
  <div class="logo">
  </div>
  <a href="#" class="navLinks">Portfolio</a>
  <a href="#" class="navLinks">Contact Me</a>
</nav>
