@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@font-face {
  font-family: 'source-code-variable';
  src: url('assets/fonts/SourceCodeVariable-Roman.eot');
}

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

$primary: #48A9A6;
$secondary_1: #E4DFDA;
$secondary_2: #F7F0F0;
$secondary_3: #CACF85;

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
  margin: 0;
}

.container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.centered {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
}

.info-button {
  width: 150px;
  height: 50px;
  font-size: 1.3em;
  letter-spacing: 2px;
  background-color: $secondary_1;
  border: 1px solid black;
  border-radius: 4px;
}

.ember-modal-dialog {
  max-width: 40%;
  min-width: 30%;
  max-height: 50%;
  min-height: 30%;

  .modal-content {
    font-size: 1.1em;
  }
}

@import 'navbar';
@import 'note-box-content';
@import 'boxes';
