@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@font-face {
  font-family: 'source-code-variable';
  src: url('assets/fonts/SourceCodeVariable-Roman.eot');
}

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import 'navbar';
@import 'boxes';
@import 'coffee';
@import 'notes';

.centered {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.info-button {
  width: 150px;
  height: 50px;
  font-size: 1.3em;
  letter-spacing: 2px;
  background-color: #cacf85;
  border: 1px solid black;
  border-radius: 4px;
}

.ember-modal-dialog {
  max-width: 40%;
  min-width: 30%;
  max-height: 50%;
  min-height: 30%;

  .modal-content {
    font-size: 1.1em;
  }
}

.headline {
  font-size: 6em;
  color: white;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
