.create-note-form {
  border: 3px solid #484349;
  background: #E4DFDA;
  width: 70%;
  height: 80vh;
  margin: 0 auto;
  margin-top: 50px;


  .input-group {
    margin-left: 10%;
    margin-right: 10%;

    input[type="text"] {
      height: 6vh;
      width: 50vw;
      border-radius: 6px;
      border: 0.5px solid black;
      font-size: 1.2em;
      padding: 5px;
    }

    input[type="number"] {
      height: 6vh;
      width: 25vw;
      border-radius: 6px;
      border: 0.5px solid black;
      font-size: 1.2em;
      padding: 5px;
    }

    select {
      width: 25vw;
      font-size: 1.2em;
      option {
        padding: 0px;
      }
    }

    textarea {
      width: 50vw;
      border-radius: 6px;
      border: 0.5px solid black;
      font-size: 1.5em;
      padding: 10px;
    }
  }

  button {
    margin-top: 2.5%;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    height: 5vh;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 1.5em;
  }

}
