.create-note-form {
  border: 3px solid #484349;
  background: #E4DFDA;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 5%;

  .search-results {
    background-color: white;
    height: 200px;
    border: 1px solid black;
    border-radius: 6px;
    overflow: scroll;
  }
}