<div class="container wrap introduction-container">
  <div class="box box">
    <div class="box-content">
      <h1 class="headline centered">List of Locations I've Visited</h1>
    </div>
  </div>
</div>
