<div class="container wrap introduction-container">
  <div class="trailing-boxes">
    <div class="box">
      <div class="box-content">
        <h1 class="headline">List of Locations I've Visited</h1>
      </div>
      <div class="box trailing-box-1"></div>
      <div class="box trailing-box-2"></div>
    </div>
  </div>
</div>

<div class="container wrap">
  {{#each locations as |location i|}}
    <div class="box item-box">
      {{locations/location-box-content location=location}}
    </div>
  {{/each}}
</div>
