<div class="container wrap introduction-container">
  <div class="box box">
    <div class="box-content">
      <h1 class="headline centered">List of Noted Coffee Beans</h1>
    </div>
  </div>
</div>

<div class="container wrap">
  {{#each model as |bean i|}}
    <div class="bean box box{{i}} item-box">
      {{#bean-box-content bean=bean}}{{/bean-box-content}}
    </div>
  {{/each}}
</div>
