<div class="container coffee-index">
  {{#each model as |coffee i|}}
    <div class="coffee box box{{i}}">
      {{#coffee-box-content coffee=coffee}}{{/coffee-box-content}}
    </div>
  {{/each}}
</div>

{{outlet}}
