<div class="notes-introduction container">
  <div class="box box">
    <h2>Here Lie Notes</h2>
    <h4>
      Ever wonder what kinds of coffee I've been into recently?
      What about the common roasts that I'm continuously coming back to?
    </h4>
    <h4>
      Click on the notes below to interact
    </h4>
  </div>
</div>

<h1>Recent Notes</h1>

<div class="container">
  {{#each model as |note i|}}
    <div class="box box{{i}}">
      {{#note-box-content note=note}}{{/note-box-content}}
    </div>
  {{/each}}
</div>

{{outlet}}
