<div class="introduction-container">
  <div class="marquee">
    <div class="box-content">
      <h1 class="headline centered">Recent Notes</h1>
    </div>
  </div>
</div>

<div class="container wrap">
  {{#each model as |note i|}}
    <div class="box box{{i}}">
      {{#note-box-content note=note}}{{/note-box-content}}
    </div>
  {{/each}}
</div>

{{outlet}}
