{{outlet}}

<div class="container wrap introduction-container">
  <div class="box filter-box">
    <div class="box-content">
      <h3>Welcome to Coffee Field Notes</h3>
      <p>
        This is a project that's based around sharing my coffee travels,
        explaining what I personally enjoy to drink, and a means for recording
        my gradually growing love for coffee
      </p>
      <p>Hope it finds you well.</p>
    </div>
  </div>
</div>
